SETS

In [1]:
## create a set
my_set={1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [3]:
my_empty_set=set()
print(type(my_empty_set))

<class 'set'>

In [5]:
my_set=set([1,2,3,4,5,6])  ##typecast list into set
print(my_set)

{1, 2, 3, 4, 5, 6}

In [6]:
my_empty_set=set([1,2,3,4,6,5,6,6,1])  ##typecast list into set
print(my_empty_set)

{1, 2, 3, 4, 5, 6}

In [8]:
## Basic set operation
## Adding and removing elemnts

my_set.add(7)
print(my_set)
my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [ ]:
## Removing elemts
my_set.remove(1)
print(my_set)

{2, 4, 5, 6, 7}

In [19]:
my_set.remove(10)
print(my_set)

KeyError: 10

In [20]:
my_set.discard(11)
print(my_set)

{2, 4, 5, 6, 7}

In [22]:
## pop method
removed_element = my_set.pop()
print(removed_element)
print(my_set)

4
{5, 6, 7}

In [23]:
## clear all the elmets
my_set.clear()
print(my_set)

set()

In [24]:
## Set Membership test
my_set = {1,2,3,4,5}

print(3 in my_set)
print(10 in my_set)

True
False

In [28]:
## Mathematical operations
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

## Union
union_set = set1.union(set2)
print(union_set)


## Intersection
intersection_set = set1.intersection(set2)
print(intersection_set)

set1.intersection_update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{4, 5, 6}

In [ ]:
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

## Difference
print(set1.difference(set2))

{1, 2, 3}

In [30]:
set1

{1, 2, 3, 4, 5, 6}

In [31]:
set2.difference(set1)

{7, 8, 9}

In [32]:
## Symmetric Difference

set1.symmetric_difference(set2)

{1, 2, 3, 7, 8, 9}

In [37]:
## Sets Methods
set1={1,2,3,4,5}
set2={3,4,5}

## is subset
print(set1.issubset(set2))
print(set1.issuperset(set2))

False
True

In [38]:
lt = [1,2,2,3,4,4,5]

my_set = set(lt)

print(my_set)

{1, 2, 3, 4, 5}

In [40]:
### Counting unique words in text

text = "In this tutorail we are discussing about set"

words = text.split()

## convert list of words to set to get unique words

unique_words = set(words)
print(unique_words)
print(len(unique_words))

{'this', 'about', 'set', 'are', 'we', 'tutorail', 'In', 'discussing'}
8