# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [1]:
### Assignment 1: Creating and Accessing Tuples

# Create a tuple with the first 10 positive integers. Print the tuple.

tpl = (1,2,3,4,5,6,7,8,9,10)
print(tpl)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [2]:
### Assignment 2: Accessing Tuple Elements

# Print the first, middle, and last elements of the tuple created in Assignment 1.
first, *middle, last = tpl
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5, 6, 7, 8, 9]
10

In [5]:
### Assignment 3: Tuple Slicing

# Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.
print(tpl[:3])
print(tpl[7:-1])
print(tpl[2:5])

(1, 2, 3)
(8, 9)
(3, 4, 5)

In [8]:
### Assignment 4: Nested Tuples

# Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.
tpl = ((1,2,3),(4,5,6),(7,8,9))

for sub_tpl in tpl:
    for j in sub_tpl:
        print(j, end=" ")
    print()  


print(tpl[1][2])

1 2 3
4 5 6
7 8 9
6

In [9]:
### Assignment 5: Tuple Concatenation

# Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

tpl1 = (1,2,3)
tpl2=(4,5,6)

concat = tpl1+tpl2

print(concat)

(1, 2, 3, 4, 5, 6)

In [26]:
### Assignment 7: Unpacking Tuples

## Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

packed_tpl = 1,2,3,4,5 
# print(packed_tpl)
a, b, c, d, e=packed_tpl
print(a)
print(b)
print(c)
print(d)
print(e)

1
2
3
4
5

In [27]:
### Assignment 8: Tuple Conversion

# Convert a list of the first 5 positive integers to a tuple. Print the tuple.

lst=[1,2,3,4,5]
print(tuple(lst))

(1, 2, 3, 4, 5)

In [28]:
### Assignment 9: Tuple of Tuples

# Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

tpl=((1,2,3),(4,5,6),(7,8,9))

for sub_tpl in tpl:
    for i in sub_tpl:
        print(i, end=" ")
    print()

1 2 3
4 5 6
7 8 9

In [30]:
### Assignment 10: Tuple and List

# Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

tpl = (1,2,3,4,5)
lst=list(tpl)
print(lst)
lst.append(6)
print(tuple(lst))

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5, 6)

In [32]:
### Assignment 11: Tuple and String

# Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

char_string = ('z', 'a', 'i', 'n', 'y')
print(char_string)
result="".join(char_string)
print(result)

('z', 'a', 'i', 'n', 'y')
zainy

In [ ]:
### Assignment 12: Tuple and Dictionary

# Create a dictionary with tuple keys and integer values. Print the dictionary.

In [33]:
### Assignment 13: Nested Tuple Iteration

# Create a nested tuple and iterate over the elements, printing each element.

tpl = ((1,2,"zainy"),("shy", "4"))

for sub_tpl in tpl:
    for j in sub_tpl:
        print(j, end=" ")
    print()

1 2 zainy
shy 4

In [34]:
### Assignment 14: Tuple and Set

# Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

tpl = (1,1,2,3,4,6,8,4,6,9,1,4,)

print(tpl)
print(set(tpl))

(1, 1, 2, 3, 4, 6, 8, 4, 6, 9, 1, 4)
{1, 2, 3, 4, 6, 8, 9}

In [ ]:
### Assignment 15: Tuple Functions

# Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.