Variables

In [ ]:
a=100

In [3]:
## Declaring and Assigning Varibale

age=32
height=6.1
name="krish"
is_student=True

## Printing the variables

print("age: ", age)
print("height: ", height)
print("name: ", name)

age:  32
height:  6.1
name:  krish

In [4]:
## Naming Conventions
## Variable name should be descriptive
## They must always start with a letter or can start with '_' and contain letters, numbers, and underscores
## variables name are case sensitive

#valid variable name
first_name="krish"
last_name="naik"

In [7]:
## Invalid Variable names

#2age=30
#first-name="krish"
#@name="zainy"

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1635089560.py, line 6)

In [8]:
## Case Sensitivity

name="zainy"
Name="Khan"

name == Name

False

In [11]:
## Understanding Varibale Types
## Python is dynimically typed -- type of varible determine at run time

age=25 #int
height=6.1 #fl;oat
name="zainy" #str
is_student=True #boolena

print(type(age))

<class 'int'>

In [12]:
## Type checking and conversion

type(height)

float

In [14]:
age=25
print(type(age))

# Type Conversion
age_str=str(age)
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

In [16]:
age='25'
print(int(age))

25

In [18]:
name="krsih"
int(name)

ValueError: invalid literal for int() with base 10: 'krsih'

In [19]:
height=6.11
type(height)

float

In [21]:
int(height)
float(int(height))

6.0

In [24]:
## Dynamic Typing
## python allows the type of varible to change as the program executes

var=10
print(var, type(var))

var="Hello"
print(var, type(var))

var=3.14
print(var, type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

In [27]:
## Input

age=int(input("What is the age"))
print(age, type(age))

23 <class 'int'>

In [29]:
## calculator

num1=int(input("Enter First Number"))
num2=int(input("Enter second number"))

sum = num1+num2
difference=num1-num2
product = num1*num2
quotient = num1/num2

print("Sum: ", sum)
print("Difference: ", difference)
print("Product", product)
print("Quotient", quotient)

Sum:  6
Difference:  2
Product 8
Quotient 2.0